<!-- ---------EVENTS LIST PART---------->
<section class="">






  <!-- Header banner-->
  <div class="row bg-sec pb-4 bb-blue">
    <div class="mx-auto text-center col-12 mt-5">




      <!-- welcome message -->
      <h2 class="text-center text-uppercase font-weight-bold mt-5">HERE WE ARE</h2>
      <hr class="hr-blue">
      <p class="text-light font-weight-bold mt-5 mx-2">You can see all pending projects - let's work!
      </p>
      <div class="row">
        <a class="btn btn-proj font-weight-bold border my-5 mx-auto" routerLink="/login" routerLinkActive="active">SIGN IN</a>
      </div>

      <img class="img-fluid project-img mt-5" src="../../assets/projects.png">



    </div>
  </div>



  <div class="text-center py-5 my-5">
    <h2 class="text-center text-uppercase font-weight-bold mt-5">Latest Projects</h2>
    <hr class="hr-blue">
  </div>
  <div class="container">
    <h5>We provide the board, you're the actors, each user can manage ALL projects, as post-it notes are reachable by all, feel
      free to create, read, update, or even delete any project note! </h5>
  </div>



  <!-- SEARCH BAR -->
  <div class="row text-center my-5">
    <div class="col-md-12 bg-dark py-5 px-2 rounded mx-auto searchBox border border-dark">
      <input #query [(ngModel)]="terms" type="text" class="col-8 form-control d-inline-block" placeholder="Type to filter events by name... "
      />
    </div>
  </div>





  <div class="container mx-auto py-5 events">
    <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let event of events | search : terms">


        <!-- ONE PROJECT CARD-->
        <div class="card text-center border border-dark">
          <div class="card-header card-end">
            <h5 class="card-title text-light text-uppercase">{{event.name}}</h5>
          </div>
          <div class="card-body  project">
            <p class="card-text">{{event.description}}</p>
            <div class="short-popular-category-list">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <p>
                    {{event.category}}</p>
                </li>
              </ul>
            </div>
            <a class="btn btn-block btn-proj font-weight-bold border">{{event.contact}}</a>
          </div>
          <div class="card-footer text-light card-end proj-date">
            <i class="far fa-calendar-alt"></i>
            {{event.date}}
          </div>
        </div>
        <!-- END CARD-->


      </div>
    </div>
  </div>


  <div class="row bg-sec pb-5 bt-blue">
    <div class="mx-auto text-center col-12 mt-5">


      <img class="img-fluid project-img mt-5" src="../../assets/teamwork.png">



    </div>
  </div>


</section>
