.footer{
    width: 100%;
    color: white;
    border-top: 0.33vh solid #1f3d55;
    background: linear-gradient(20deg,#8fcff5,#20a0e9,#1f3d55); 
 

/*     fix the footer at the bottom*/    
    position: fixed;
    bottom: 0px;
}


footer h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:white;
}


i{
    color:#fff;
}

i:hover{
    color:#f6ae01;

}

/* background opacity */ 
.overly {
    position: relative;
  }
  
  .overly:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
