<!-- Footer starts here -->
<footer class="footer overly py-3">
  <!-- adapt header "overly" to footer-->
  <div class="row mt-5">
    <div class="col-10 float-right">
      <div>
        <h6 class="text-right"> &#9400; Lionel SUVELOR - 2018 - PARTICIP-NATION</h6>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <p class="social-icons-header mb-2 mx-auto pl-4">
        <a href="https://github.com/LS-777" target="_blank">
          <i class="fab fa-github fa-2x mr-4"></i>
        </a>
        <a href="https://www.linkedin.com/in/lionel-s13/" target="_blank">
          <i class="fab fa-linkedin fa-2x mr-4"></i>
        </a>
        <a href="http://lionel-suvelor.co.nf/" target="_blank">
          <i class="fab fa-wordpress fa-2x mr-4"></i>
        </a>
      </p>


    </div>
  </div>
</footer>
