<div class="row">
  <!-- project editing part-->
  <div class="col-lg-10 col-sm-12 d-inline-block mx-auto my-auto">
      <div class="text-center my-5 py-5">
          <h2 class="text-center text-uppercase font-weight-bold"> Edit project</h2>
          <hr class="hr-blue">
        </div>
    <div class="card form-wh">
      <div class="card-header form-header">
        <h3 class="mb-0">Edit project</h3>
      </div>
      <div class="card-body">
        <div class="text-right mb-5">
          <h5 class="float-right d-block blink">You can instantly change projects details.</h5>
        </div>
        <form class="form">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="event.name" name="name" type="text" class="form-control rounded-0">
          </div>
          <div class="form-group">
            <label for="">Description</label>
            <input [(ngModel)]="event.description" name="description" type="text" rows="5" class="form-control rounded-0">
          </div>
          <div class="form-group">
            <label for="">Category</label>
            <input [(ngModel)]="event.category" name="category" type="text" class="form-control rounded-0">
          </div>
          <div class="form-group">
            <label for="">Contact</label>
            <input [(ngModel)]="event.contact" name="contact" type="text" class="form-control rounded-0">
          </div>
          <div class="form-group">
            <label for="">Date</label>
            <input [(ngModel)]="event.date" name="date" type="text" class="form-control rounded-0">
          </div>
          <div class="form-group mx-auto mt-5">
            <button (click)="updateEvent()" type="button" class="btn btn-outline-primary btn-lg">Update</button> 
            <button (click)="removeEvent()" type="button" class="btn btn-outline-danger btn-lg ">Delete</button> 

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
