<div class="mt-5 col-sm-12 col-lg-10 mx-auto">

<p class="font-weight-bold text-center mb-5">Click on an event to edit it!</p>
  <div class="mx-auto text-center mb-5 ">
    <button class="btn-primary btn-lg" (click)="sort()">A-Z Sort by name</button> <!-- asc and desc alphabetical sorting so 2 kinds of sorting :)-->
  </div>

  <div class="list-group text-center listevents ">
    <li (click)="onSelect(event)" class="list-group-item list-group-item-action text-uppercase" *ngFor="let event of events | sort: {property: column, order: order}">
      <a>{{event.name}}</a> |
      <a>{{event.contact}}</a>
    </li>
  </div>

</div>
