<section class="row py-5 my-5">
  <div class="col-md-5 d-inline-block my-auto mx-auto ">
      <h4 class="mb-5 text-center"> Already a member? Let's get back to bu$iness!</h4>
      <h4 class="my-4 text-justify"> Get logged in to access to VIP projects and find the perfect opportunity.</h4>

      <div class="card form-wh">
       <div class="card-header form-header">
         <h3 class="mb-0">Login</h3>
       </div>
       <div class="card-body">
         <form class="form">
           <div class="form-group">
             <label for="">Email</label>
             <input [(ngModel)]="loginUserData.email" name="email" type="text"  class="form-control rounded-0" required>
           </div>
           <div class="form-group">
              <label for="">Password</label>
              <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
            </div>
            <div class="form-group sub-invit">
              No account?<a routerLink="/register" class="text-success"> Create one!</a>
            </div>
            <button (click)="loginUser()" type="button" class= "btn btn-success btn-lg float-right">Login</button>
         </form>
       </div>
      </div>
    </div>
    <div class= "col-md-5 reg-bg mx-auto d-inline-block">
        <img src="../../assets/collab.png" class="reg-bg-img img-fluid" alt="login-welcome"/>
    </div>
  </section>