<section class="row py-5 my-5">
      <div class= "col-md-5 reg-bg d-inline-block my-5 mx-auto">
          <img src="../../assets/handshake.png" class="reg-bg-img img-fluid mb-5" alt="register-welcome"/>
    </div>
    <div class="col-md-5 d-inline-block my-auto mx-auto">
      <h4 class="my-4 text-right"> Join the Nation &amp; build a solid bu$iness team.</h4>
        <div class="card form-wh">
      <div class="card-header form-header">
        <h3 class="mb-0">Register</h3>
     </div>
     <div class="card-body">
       <form class="form mb-5">
          <div class="form-group">
              <label for="">Username</label>
              <input [(ngModel)]="registerUserData.username" name="username" type="text"  class="form-control rounded-0" required>
            </div>
         <div class="form-group">
           <label for="">Email</label>
           <input [(ngModel)]="registerUserData.email" name="email" type="text"  class="form-control rounded-0" required>
         </div>
         <div class="form-group">
            <label for="">Password</label>
            <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required>
          </div>
          <div class="form-group sub-invit">
            Already have an account? <a routerLink="/login">Click here to Login!</a>
          </div>
          <button (click)="registerUser()" type="button" class= "btn btn-outline-primary btn-lg float-right">Register</button>
       </form>
     </div>
    </div>
   </div>
</section>