/*------- HEADER PART -------*/



/* background image and height */
.bg-1 {
    background: url("../../assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: .33vh solid #183043;
  
  }
  
  
  /* background opacity */ 
  .overly {
    position: relative;
  }
  
  .overly:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* main title*/
  .hero-area .content-block h1, .hero-area-2 .content-block h1 {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
  }
  
  .title-block {
  margin-top: 27vh;
  }
  
  .title-block h1{
  color: #f6ae01 !important;
  ;
  }
  
  @media (max-width: 768px) {
    .hero-area .content-block h1, .hero-area-2 .content-block h1 {
      font-size: 40px;
    }
  }
  
  .hero-area .content-block p, .hero-area-2 .content-block p {
    color: #fff;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .hero-area .content-block p, .hero-area-2 .content-block p {
      font-size: 17px;
    }
  }
  
  .hero-area {
    padding: 100px 0 0;
  }
  
  .hero-area .content-block {
    padding-bottom: 80px;
  }
  
  .hero-area .advance-search {
    background: #fff;
    padding: 40px 30px;
    border-radius: 3px;
    margin-bottom: -50px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.12);
  }
  
  @media (max-width: 480px) {
    .hero-area .advance-search {
      margin-bottom: -80px;
    }
  }
  
  @media (max-width: 480px) {
    .hero-area .advance-search .block {
      display: block !important;
    }
  }
  
  .hero-area .advance-search .form-control {
    color: #000;
    border-color: #dedede;
  }
  
  .hero-area .advance-search button {
    display: block;
  }
  
  @media (max-width: 480px) {
    .hero-area .advance-search button {
      width: 100%;
    }
  }
  
  
  .section {
    padding: 100px 0;
  }
  

  .bt-blue{
    border-top: 0.13vh solid #1f3d55;
  }
  .section-sm {
    padding: 70px 0;
  }
  
  .section-title {
    position: relative;
    margin-bottom: 75px;
    text-align: center;
  }
  
  .section-title h2 {
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  
  .section-title h2:before {
    content: " ";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    width: 127px;
    height: 2px;
    background-color: #e0e0e0;
  }
  
  .section-title h2:after {
    content: " ";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 40px;
    height: 5px;
    background-color: #5672f9;
  }
  
  .section-title p {
    font-size: 18px;
    line-height: 30px;
    color: #848484;
  }
  
  
  .short-popular-category-list {
    margin-top: 40px;
  }
  
  .short-popular-category-list h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
  }
  
  .short-popular-category-list ul {
    margin-top: 20px;
  }
  
  .short-popular-category-list ul li {
    margin: 0 2px;
  }
  
  .short-popular-category-list ul li a {
    border: 1px solid #1f3d55;
    border-radius: 7%;
    background-color: #f6ae01;
    color: #1f3d55;
    font-weight: bold;
    padding: 4px 10px;
    font-size: 12px;
  }
  
  
  .short-popular-category-list2 ul li a {
    border: 1px solid #1f3d55;
    border-radius: 7%;
    background-color: #f6ae01;
    color: #1f3d55;
    font-weight: bold;
    padding: 4px 10px;
    font-size: 12px;
  }
  
  
  
  .short-popular-category-list ul li a i {
    margin-right: 2px;
  }
  
  
  /* button */
  
  .btn-main{
    color: #f6ae01;
    border:2px solid #f6ae01 !important;
  }
  
  .btn-main:hover{
    background:limegreen;
    border:2px solid #000 !important;
  
    color:black;
  }
  /* END HEADER  */
  
  
  
  /* PRESENTATION PART */
  
  .hr-blue {
    width: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(31, 61, 85, 1);
  }
  
  
  
  .project{
    background: linear-gradient(20deg,#8fcff5,#20a0e9);
  }
  
  
  .card-end{
      background:  rgba(31, 61, 85, 1);
  }
  
  .proj-date{
      color:#f6ae01;
  }
  
  .btn-proj {
    border-color: #1f3d55 !important;
    background: limegreen !important;
    color: rgba(31, 61, 85, 1);
  }
  
  .short-popular-category-list ul li p {
    border: 1px solid #1f3d55;
    border-radius: 7%;
    background-color: #f6ae01;
    color: #1f3d55;
    font-weight: bold;
    padding: 4px 10px;
    font-size: 12px;
  }
  
  
  /* END PRESENTATION */
  
  /* DESCRIPTION PART */
  
  .bg-sec{
    background: linear-gradient(20deg,#8fcff5,#20a0e9);
  }
   
  
  .section-heading{
      color:#f6ae01;
  }
  
  
  h4{
      color:#1f3d55;
  }
  
  .btn-proj{
      background: #f6ae01;
      color: rgba(31, 61, 85, 1);
  }
  
  .btn-proj:hover{
      background:limegreen;
      color:white;
  }
  
  
  .hr-white {
      width: 5%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 3px solid #f8f9fa;
    }
  
   .text-primary{
        color:#f6ae01 !important;
    }  
  
    /* END DESCRIPTION */
  
  
  
  
  
  
    /* END EVENTS */