<!-- ---------HEADER + BANNER PART-------->
<section class="hero-area bg-1 text-center overly col-12">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block title-block">
          <h1>PARTICIP-NATION</h1>
          <p class="text-light">Pick &amp; collaborate in unique projects...
            <br> or create Yours!</p>
          <div class="short-popular-category-list text-center">
            <h2 class="text-light">Popular categories</h2>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="">
                  <i class="fas fa-book"></i> Education</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fas fa-user-ninja"></i>Fitness</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fa fa-car"></i> Automobile</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fas fa-utensils"></i> Restauration</a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="fa fa-coffee"></i> Coffee</a>
              </li>
            </ul>


          </div>
          <div class="mx-auto text-center my-5">
            <a routerLink="/register" class="btn btn-outline btn-main font-weight-bold border">GET STARTED</a>
          </div>

        </div>


      </div>

    </div>
  </div>

  <!-- Container End -->
</section>

<!-- ---------PRESENTATION PART-------->
<section id="prez mb-5 py-5" data-aos="zoom-in-up">

  <div class="text-center my-5 py-5">
    <h2 class="text-center text-uppercase font-weight-bold"> Join the nation</h2>
    <hr class="hr-blue">
  </div>
  <div class="row my-5 py-5 mx-auto">

    <div class="container">



      <div class="col-md-4">
        <!-- ONE PROJECT CARD-->
        <div class="card text-center border border-dark">
          <div class="card-header card-end">
            <h5 class="card-title text-light">PROJECT_NAME</h5>
          </div>
          <div class="card-body  project">
            <p class="card-text">PROJECT_DESCRIPTION</p>
            <div class="short-popular-category-list">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <p>Category</p>
                </li>
              </ul>
            </div>
            <p class="btn btn-block btn-proj font-weight-bold border">PROJECT_CONTACT</p>
          </div>
          <div class="card-footer text-light card-end proj-date">
            <i class="far fa-calendar-alt"></i>
            PROJECT_DATE
          </div>
        </div>
        <!-- END CARD-->
      </div>

      <div class="col-md-4 mb-3 text-justify float-right">
        <h4>Pick a project &amp;
          <strong>contact his author or CREATE one!</strong>
        </h4>
        <h4 class="my-5 text-center text-uppercase">Simply as that!</h4>
        <h4 class="mb-5">It's free, everybody can stick their little post-it note, and let potential collaborators come to them!</h4>

      </div>

    </div>
  </div>
</section>


<!-- ---------DESCRIPTTION PART-------->
<section id="mb-5 pt-5" class="bg-sec bt-blue" data-aos="zoom-in-up">
  <div class="container">
    <div class="row my-5 pt-5">
      <div class="col-lg-12 text-center my-5">
        <h2 class="section-heading text-uppercase mb-3 font-weight-bold text-light">How it works?</h2>
        <hr class="hr-white">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x mb-3" data-aos="fade-right">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user-plus fa-stack-1x fa-inverse zz"></i>
        </span>
        <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Sign up</h4>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="300">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fab fa-hubspot fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Pick a project, or..</h4>
      </div>

      <div class="col-md-3">
        <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="600">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-folder-open fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading mb-5 text-uppercase font-weight-bold">Post one, or do both..</h4>

      </div>

      <div class="col-md-3">
        <span class="fa-stack fa-4x mb-3" data-aos="fade-right" data-aos-delay="900">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading mb-3 text-uppercase font-weight-bold">Let's work!</h4>
      </div>
      <div class="mx-auto my-5">
        <h5 class="text-light my-5">It's like a classified ads board, we provide the wall, come and write your ambitions &amp; let contributors come
          to you! </h5>
        <a class="btn btn-proj font-weight-bold border my-5" routerLink="/events" routerLinkActive="active">CHECK LATEST EVENTS</a>
      </div>


    </div>
  </div>
</section>
